/BinaryToDecimal.class
/BitsPrint.class
/Count_set_bits.class
/DecimalToBinary.class
/Demo.class
/DuplicateMissing.class
/GrayCode.class
/KernighansAlgo.class
/MagicNo.class
/Missing_No_1.class
/Missing_No_2.class
/PowerOf2.class
/UniqueNumber1.class
/Unique_No_2.class
